@import url("https://fonts.googleapis.com/css2?family=VT323:ital,wght@0,400;0,900;1,700&display=swap");

@font-face {
  font-family: 'PixelCowboy';
  font-style: normal;
  font-weight: normal;
  src: local('PixelCowboy'), url('../fonts/PixelCowboy.otf') format('truetype');
}

@font-face {
  font-family: 'HelloVetica';
  font-style: normal;
  font-weight: normal;
  src: local('HelloVetica'), url('../fonts/hellovetica.ttf') format('truetype');
}
@font-face {
  font-family: 'PixelSix';
  font-style: normal;
  font-weight: normal;
  src: local('PixelSix'), url('../fonts/pixelsix00.ttf') format('truetype');
}

.cabin-font {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
  font-variation-settings:
  "wdth" 100;
}

:root{
  --bg-colour: #ffffff;
  --primary-colour: #eb55b9;
  --secondary-colour: #2db9ac;
  --selected-bg-colour: #f9f9f9;
  --darker-colour: #5f1c49;
  --transition: 0.2s;
  --border-radius: 15px;
  --bold-font: 550;
  --main-font: 'Cabin', sans-serif;
}

::placeholder {
  font-family: var(--main-font);
  padding-left: 0.5rem;
}

html {
  background: linear-gradient(45deg, #2db9ac 10%,transparent 10%,transparent 90%,#2db9ac 90%),linear-gradient(135deg, transparent 40%, #2db9ac80 40%, #2db9ac80 60%, transparent 0),linear-gradient(45deg, transparent 40%, #2db9ac 40%, #2db9ac 60%, transparent 0);
  background-size: 3em 3em;
  background-color: #ffffff;
  opacity: 1;
  scroll-behavior: smooth;
  
}

.content {
  width: 60%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  line-height: 1.2;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  margin: 2rem;
}

.hero h2 {
  font-weight: 550;
}

.hero img{
  height: 20rem;
  border-radius: var(--border-radius);
}

.intro {
  width:  25rem;
  padding: 0.6rem;
  border-radius: var(--border-radius);
  color: var(--secondary-colour);
  /*box-shadow: 0px 2px 15px 2px var(--secondary-colour);*/
}
.intro h1 {
  margin-bottom: 0.1rem;
}

.intro p {
  padding: 0.3rem 0;
}

.content h1 {
  color: var(--darker-colour);
}

.content h2 {
  padding: 1rem 0;
  text-align: center;
  border-radius: var(--border-radius);
  color: var(--primary-colour);
}

.burger .icon {
  background: url('../images/borg.png')no-repeat;
  background-size: contain;
  height: 20px;
  width: 20px;
  display: block;
}

.burger{
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

/*  INTRODUCTION  */

.introduction h1{
  text-align: center;
}

/* CONTACT FORM */
.contact {
  margin: 2rem;
}

.contact h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--secondary-colour);
}

.contact-container label {
  line-height: 2.7em;
  color: var(--secondary-colour);
}

.contact-container textarea {
  min-height: 6rem;
  font-size: 14px;
  font-family: var(--main-font);
  padding: 0.5rem;
  resize: vertical;
}

.contact-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset var(--primary-colour);
  font-size: 0.875rem;
  outline: none;
  font-family: var(--main-font);
  color: rgb(0, 0, 0);
  padding: 0.5rem;
}

.submit-button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid var(--primary-colour);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
  font-family: var(--main-font);
  color: var(--secondary-colour);
}

.submit-button:hover {
  cursor: pointer;
  transition: var(--transition);
  border: 2px solid var(--secondary-colour);
  color: var(--primary-colour);
}

.contact-message {
  font-size: 1.1rem;
  text-align: center;
}
/*===============================*/ 

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-colour);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
}

/* NAV BAR */

.navbar {
/*position: sticky;   /*issues with z index*/
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 20%;
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-size: 24px;
}

nav a {
  color: var(--primary-colour);
  transition: 0s;
}

.navbar .navigation li :hover {
  color: var(--secondary-colour);
}


nav ul {
  gap: 1rem;
}

.navbar .header-link { /*class?*/
  font-family: var(--main-font), sans-serif;
  font-style: italic;
  font-weight: 200;
  color: var(--secondary-colour);
}

.navbar h1 :hover {
  border-bottom: 2px solid var(--primary-colour);
}

nav h1 a{
  color: var(--secondary-colour);
}

.toggle-button{
  position: absolute;
  top: 1.75rem;
  right: 5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 31px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: var(--primary-colour);
  border-radius: 10px;
}

/* Keeps Nav Bar items spaced */
.navbar .navigation ul{
  display: flex;
}

@media (max-width: 1000px){
  .toggle-button {
    display: flex;
  }
   
  .navigation {
    width: 100%;
    display: none;
    padding-top: 1rem;
  }
  
  .hero h2 {
    text-align: center;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 10%;
  }
  .navbar ul {
    flex-direction: column;
    width: 100%;
  }

  .navigation li {
    text-align: center;
    width: 100%;
  }
  
  .dropdown {
    align-self: center;
  }
  .hidden{
    display: flex;
  }
  .hero{
    flex-direction: column;
  }
  .intro{
    width: 22rem;
  }
  .content{
    width: 90%;
  }
}

#principles {
  padding: 0.1rem;
  display: flex;
  flex-direction: column;
}

#principles img {
  scale: 20%;
  float: left;
}

#principles li {
  display: inline;
}

#principles h2 {
  font-style: italic;
}

#principlesintro {
  text-align: center;
  color: var(--secondary-colour)

}

.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: inherit;
  border: none;
  outline: none;
  color: var(--primary-colour);
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown :hover{
  color: var(--secondary-colour);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--bg-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: var(--selected-bg-colour);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* BODY */
body {
  font-family: var(--main-font);
}



/* FAQ */

.faq {
  padding-bottom: 7rem;
}
.faq li {
  display: flex;
  flex-direction: column;
}
.faq li p{
  float: right;
}

.faq li #Q {
  font-size: 5rem;
  color: var(--primary-colour);
  float: left;
  display: inline;
}

.faq li #A {
  font-size: 5rem;
  color: var(--secondary-colour);
  float: left;
}

.faq li #Atext {
  padding-bottom: 5rem;
}

.faq li #Qtext {
  display: block;
  float: right;
}

/* EVENTS */

.eventslist {
  list-style-type: disc;
}

.eventslist li{
  margin-left: 2rem;
}

#events p{
  padding-top: 1rem;
}

#events h1{
  display: flex;
  color: #2db9ac;
}
/* PARTICIPATION */

#participation h1 {
  color: var(--primary-colour);
  text-align: center;
  padding: 1rem;
}

#participation h2 {
  color: var(--secondary-colour);
}

#participation h3 {
  color: var(--primary-colour);
  padding-bottom: 1rem;
}

#participation ul {
  list-style-type: disc;
}

#participation li {
  margin-left: 2rem;
  padding-bottom: 1rem;
}

/* TICKETS */

#tix {
  text-align: center;
  color: var(--primary-colour);
}

#tix img {
  align-self: center;
  margin-top: 5rem;
  height: auto;
  width: 100%;
}

#tix h1 {
  margin-top: 2rem;
}

#signupbtn{
  text-align: center;
  width: 100%;
  border-radius: 2px;
  margin-top: 0px;
  padding: 0px;
}

.contactbtn {
  font-size: 2rem;
  border: none;
  color: var(--primary-colour);
  background-color: white;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0;
  cursor: pointer;
  padding: 0.5rem;
  outline: solid;
  outline-color: var(--secondary-colour);
  margin-top: 2rem;
  margin-bottom: 2rem;
  transition: 0.5s;
  border-radius: 2px;
}

.contactbtn:hover {
  background-color:var(--secondary-colour);
  color: white;
}

.contactbtndiv {
  text-align: center;
}

#ff-submit-root{
  color: var(--primary-colour);
}

#gform {
  width: 100%;
  height: 1828px;
  text-align: center;
}


/* NEW BURNERS */

#newbies h1 {
  color: var(--primary-colour);
}

#newbies h2 {
  text-align: justify;
  color: var(--darker-colour);
  font-style: italic;
}

#newbies h3 {
  line-height: 1.5;
}

#newbies p1 {
  line-height: 1.5;
  font-style: italic;
}

#newbies p3 {
  font-size: 1.1rem;
}
